<div class="right-panel">
    <h3 class="closetHead">Your Closet</h3>
    <div class="col s4">
        <div>
            <table class="all">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Color</th>
                    </tr>
                    {{#each right.closets}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{type}}</td>
                        <td>{{color}}</td>
                    </tr>
                    {{/each}}
                </thead>
            </table>
        </div>
    </div>
</div>