<div class="right-panel">
  <h3 class="closetHead">Your Closet</h3>
  <div class="col s4">
    <table class="all">
      <thead>
        <tr class="tableHead">
          <th>Name</th>
          <th>Type</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody id='thecloset'/>
    </table>
    <table class="all">
      <thead>
        <tr class="tableHead">
          <th>Name</th>
          <th>Type</th>
          <th>Color</th>
        </tr>
      </thead>
      <tbody id='closet2'/>
    </table>
  </div>
</div>
