<!DOCTYPE html>
<html lang="en">

<head>
  <title>Virtual Closet</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</head>

<body>
  {{{ body }}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.7/handlebars.js"></script>
<script src='js/browser-bars.js' type='text/javascript'></script>

<script>
  $(document).ready(() => {
    let templates = [
      {
        href: 'hbs/closet-list.handlebars',
        name: 'closetList',
        partial: 'also'     // no, only, also, default no
      }, 
      {
        href: 'hbs/colorSort.handlebars',
        name: 'colorSort',
        partial: 'also'
      },
      {
        href: 'hbs/typeSort.handlebars',
        name: 'typeSort',
        partial: 'also'
      }
    ];

    $bars.configure(templates).then(() => {
      $.get('/api/closet', function (data) {
        $bars.render('closetList', 'thecloset', { allClothes: data });
      });
    }).catch(error => {
      alert(error)
    });
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script> $('.dropdown-trigger').dropdown(); </script>
<script type="text/javascript" src="js/virtualCloset.js"></script>
<script type="text/javascript" src="js/members.js"></script>

</html>
