/* login and signup */
.brand-logo  {
  font-family: 'McLaren', cursive;
  font-size: 5em;
  width: 100%;
  color: #103332;
}

.container {
  margin-top: 5vh;
}


.loginTo {
  font-size: 2em;
  text-align: center;
  font-family: 'McLaren', cursive;
  color: #103332;
}

.login, .signup {
  margin-top: 8vh;
}

.input-field label {
  font-family: 'McLaren', cursive;
  color: #103332;
  /* font-weight: lighter; */
}

label {
  font-size: 1em;
  color: #103332;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #103332;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #103332;
  -webkit-box-shadow: 0 1px 0 0 #103332;
          box-shadow: 0 1px 0 0 #103332;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-bottom: 1px solid #103332;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-bottom: 1px solid #103332;
  -webkit-box-shadow: 0 1px 0 0 #103332;
  box-shadow: 0 1px 0 0 #103332;
}

.btn {
  margin: 5vh auto 0 auto;
  background-color: #103332;
  display: block;
  justify-content: center;
  font-size: 2em;
  padding: 2%;
  width: 30%;
  height: 7vh;
  font-family: 'McLaren', cursive;
}

.btn:hover {
  background-color: #103332;
}

.signUp {
  color: #103332;
  font-family: 'McLaren', cursive;
  font-size: 1.5em;
  text-align: center;
}





/* index */

body {
  width: 80%;
  margin: 0 auto;
  padding: 0 3%;
  background-color: #B2D2F5;
}

.header {
  font-family: 'McLaren', cursive;
  font-size: 5em;
  width: 100%;
  color: #103332;
  text-align: center;
}

/* top panel */ 
.top-panel {
  display: flex;
  margin-top: 5vh;
}


/* left panel */
.left-panel {
  flex: 1;
  margin-right: 15%;
}

.addMargin {
  margin-top: 5vh;
}

.select-wrapper input.select-dropdown {
  color: #103332 !important;
  font-family: 'Raleway', sans-serif;
}


.dropdown-content li>span {
  color: #103332 !important;
  font-family: 'Raleway', sans-serif;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #103332;
}

.addBtn {
  margin: 0 auto;
  background-color: #103332;
  display: block;
  justify-content: center;
  font-size: 1.5em;
  width: 80%;
  height: 10vh;
  font-family: 'McLaren', cursive;
}



/* right panel */
.right-panel {
  flex: 2
}

.closetHead {
  text-align: center;
  color: #103332;
  font-family: 'McLaren', cursive;
  font-size: 3em;
}


.tableHead {
  font-family: 'McLaren', cursive;
}

.all {
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 1.25em;
  color: #103332;
}

th, td {
  text-align: center;
  border-color: #B1B1B1;
}

th {
  font-size: 1.3em;
}


/* center panel */ 
.center-panel {
  width: 100%;
  margin-top: 10vh;
}

.sorting {
  text-align: center;
}



@media screen and (max-width: 780px) {
  .top-panel {
    display: block;
  }
}

/* .display {
  display: block
} */

.display-none {
  display: none !important;
}